body
{
    margin: 0;
    padding: 0;
    background-color: rgb(39, 93, 229);
}
{
    text-decoration: none;
}
.navbar{
    background: rgb(39, 93, 229); font-family: calibri; padding-right: 130px;padding-left: 130px; margin-top: 0%;
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
.logo {
    font-size:30px; font-weight: bold; color: white;
}
li{
    list-style: none; display: inline-block;
}
li {
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}
.purchase-btn{
    background-color: rgb(239, 30, 114); margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}
.purchase-btn {
    color: white; font-weight: bold; font-size: 15px;
}

.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: white;
    padding: 20px;
    margin: 100px;
    text-align: center;
    position: relative;
    left: 800px;
}
.sign-up-form h1{
    color: rgb(39, 93, 229) ;
    margin-bottom: 30px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.signup-btn{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background:rgb(39, 93, 229);
}
.login-btn{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer; 
    background: #1c8adb; 
}
a{
    text-decoration: none;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
/* .content-box{ 
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: white;
    padding: 20px;
    margin: 100px;
    text-align: center;
    position: relative;
    right: 500px;
}*/

#content{
    background-color: rgb(39, 93, 229);
  width: 300px;
  border: 15px solid rgb(39, 93, 229);
  padding: 50px;
  margin: 200px;
  position: relative;
  bottom: 500px;
}
.learn-btn{
    color: white; font-weight: bold; font-size: 15px;
    background-color: rgb(239, 30, 114); margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}